@use "../modules/spacings";
@use "../modules/text-align";

$Content-max-width: 1280px !default;

@if ($containers-css-components-Content) {



.#{$containers-css-prefix}-Content {
  max-width: $Content-max-width;
  margin: 0 auto;

  padding: $SIZING_UNIT / 2;
  @include breakpoint-width-up($containers-css-breakpoint-m) {
    padding: $SIZING_UNIT;
  }

  @include breakpoint-width-up($containers-css-breakpoint-l) {
    padding: $SIZING_UNIT * 2;
  }

  &.centered {
    @include text-align.center-align;
  }

  &.v-padding-0 {
    @include spacings.v-padding-0;
  }
}



}