$__breakpoint-small:    576px  !default;
$__breakpoint-medium:   768px  !default;
$__breakpoint-medium-2: 992px  !default;
$__breakpoint-large:    1200px !default;
$__breakpoint-large-2:  1408px !default;